body {
	
}

.fixed-container {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 12px 20px;
}

#nav-menu {
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-variant: small-caps;
	text-transform: lowercase;
	color: #333;
	font-size: 18px;
}

.header ul {
	display: inline-block;
	float: right;
	padding: 0;
	margin: 0;
}

.header ul li {
	list-style: none;
	display: inline-block;
	margin-left: 20px;
}

.header-title {
	float: left;
	font-family: Georgia, Serif;
	font-size: 20px;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
}

.center-content {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	background-color: #000;
}