body {
	color: #333;
}

a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

hr {
	/*border-top-color: #AAA;*/
	margin: 0px;
}

/* using position fixed to get a full width container element */

.fixed-container {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.header, .footer {
	position: absolute;
	left: 0;
	right: 0;
	padding-left: 40px;
	padding-right: 40px;
}

/* primary content area */

.center-content-wrapper {
	position: absolute;
	left: 40px;
	right: 40px;
	top: 50px;
	bottom: 40px;
	background-color: #EEE;
	overflow: hidden;
}

#content-gallery-image {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 500;
}

#tab-content-wrapper {
	z-index: 1000;
	position: absolute; /* otherwise the absolutely positioned image disregards z-index */
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#tab-content-wrapper > div {
	display: none; /* prevents tab content from displaying initially */
	padding: 20px;
}

#tab-content-wrapper div img.tab-background {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1500;
	/*display: none;*/
}

#tab-content-wrapper div h3 {
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size: 28px;
	margin: 0 auto;
}

.tab-content-left, .tab-content-right {
	position: absolute;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 2000;
	padding: 60px;
	color: #FFF;
	width: 500px;
	overflow: auto;
}

.tab-content-left {
	left: 0;
}

.tab-content-right {
	right: 0;
}

/* header styling */

.header {
	top: 0;
	padding-top: 12px;
}

.header ul {
	display: inline-block;
	float: right;
	padding: 0;
	margin: 0;
}

.header ul li {
	list-style: none;
	display: inline-block;
	margin-left: 20px;
}

.header-title {
	float: left;
	font-family: 'Century Gothic', sans-serif;
	font-size: 20px;
	font-weight: normal;
}

/* mav menu & link styles */

#nav-menu {
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-variant: small-caps;
	text-transform: lowercase;
	color: #333;
	font-size: 18px;
}

#nav-menu li.ui-tabs-active a {
	color: #0033CC;
}

/* footer styles */

.footer {
	bottom: 0;
	height: 20px;
	padding-bottom: 12px;
	font-family: 'Lucida Sans Unicode', Helvetica, sans-serif;
	/*font-variant: small-caps;*/
	/*text-transform: uppercase;*/
	color: #333;
	font-size: 14px;
	/*font-weight: bold;*/
}

#copyright-notice {
	font-style: italic;
	font-size: 13px;
}